@import '../../style';

.movie-title-panel {
}

.movie-details-panel-container {
  display: flex;
  flex-direction: row;
}

.movie-menu-panel {
  display: inline-block;
  border-right: 1px solid #000000;
  padding: 1rem;

  .movie-menu-links {
    display: flex;
    flex-direction: column;

    .movie-menu-link-box.active {
      background-color: #000000;
      color: #ffffff;
    }

    .movie-menu-link-box:not(:last-of-type) {
      border-bottom: 1px solid #000000;
    }
  }
}

.movie-details-panel {
  display: inline-block;
  padding: 1rem;

  > div {
    display: none;
  }
}

.movie-details-panel.general > .general-info {
  display: block;
}

.movie-details-panel.cast > .cast-info {
  display: block;
}

.movie-details-panel.crew > .crew-info {
  display: block;
}

.movie-details-panel.format > .format-info {
  display: block;
}

.movie-details-panel.cover > .cover-info {
  display: block;

  .cover-panel {
    img.cover-image {
      max-width: 350px;
    }
  }
}

.movie-details-panel.personal > .personal-info {
  display: block;
}

.movie-action-panel {
}

.labelled-input > label {
  display: inline-block;
  padding-right: 1rem;
  min-width: 150px;
}
